{% extends 'index.html' %}
{% block md %}
<h2>linux简介</h2>
<p>简介：linux是一个开源的操作系统<br>
linux的起源：<br>
unix（c语言版）于1972年发布，在当时逐渐开始流行，并衍生出来至今都很活跃的BSD版本(开源)。<br>
由于后来AT&amp;T致力于unix商业化，导致其与BSD版本的发展均受到限制(官司冲突)。<br>
当时致力于创建一个开源的unix的GNU项目发起，GNU推出了gcc、glibc等一系列工具，而且也在进行自己的内核项目hurd，但在其未发布之前，及BSD因为官司原因发展受阻，给予linux在x86以足够的发展空间。<br>
最终，linus于1991年发布了由minix演变而来的linux内核，于是GNU项目采用了linux内核逐渐发展出来了今天的linux各大版本。<br>
主流发行版本：<br>
debian，ubuntu，centos，redhat，suse等</p>
<h2>linux工作方向</h2>
<p>linux运维 - 门槛低，入门快<br>
linux开发</p>
<h2>linux学习</h2>
<ol>
<li>学习态度</li>
<li>坚持</li>
<li>不断的实践练习</li>
<li>良好的学习环境（充足的时间，性能优良的电脑，尽量少的工作压力和家庭压力）</li>
</ol>
{% endblock %}