
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="linux python">
  <meta name="author" content="Peiwu Zhao">
  <meta name="Keywords" content="python,linux">

  <title>xiao5tech</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='fonts/notosanssc.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>

<body>

  <div class="container new_container">
    <div class="row" style="height:90px;border-bottom:1px solid #987cb9;">
      <div>
        <h1 class="text-center">linux运维说明书</h1>
      </div>
      <div>
        <p>
          <ul class="list-inline" style="padding-left:20px;">
            <li><a href="/">首页</a></li>
            <li><a href="/linux">linux基础</a></li>
            <li><a href="/python">python总结</a></li>
            <li><a href="/node.js">node.js总结</a></li>
            <li><a href="/django">django总结</a></li>
          </ul>
        </p>
      </div>
    </div>

    <div class="row" style="height:100%;margin-top:3px;padding-bottom:30px;min-height:650px">
      <div class="md_content">
      {% block md %}
      {% endblock %}
      </div>
      <!-- {% block body %}
      {% endblock %} -->
    </div>

    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
           <ul class="list-inline">
             <li><a href="">关于</a></li>
             <li><a>linux运维说明书</a></li>
             <li><a href="/contact">联系我们</a></li>
           </ul>
        </div>
      <div class="col-md-4"></div>
    </div>

  </div> <!--close container-->

</body>
</html>
