
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="linux python">
  <meta name="author" content="Peiwu Zhao">
  <meta name="Keywords" content="python,linux">

  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>xiao5tech</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>

  <div class="container" style="height=100%">
    <div class="row" style="height:90px;border-bottom:1px solid #987cb9;">
      <div>
        <h1 class="text-center">linux运维说明书</h1>
      </div>
      <div>
        <p><ul class="list-inline" style="padding-left:20px;"><li><a href="/">首页</a></li></ul></p>
      </div>
    </div>

    <div class="row" style="height:100%;margin-top:3px;padding-bottom:30px;min-height:650px">
      <div class="col-md-3" style="height:100%; background:#F5F5F5">
        <ul class="list-unstyled">
          <li>linux基础</li>
          <div class="list-group">
        		{% for t in TOPIC_DICT['linux']['basic'] %}
        		<li><a href="{{ t[1] }}">{{ t[0] }}</a></li>
        		{% endfor %}
        	</div>
        </ul>
      </div>

      <!--md content here-->
      <div class="col-md-9">
      {% block md %}
      {% endblock %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
           <ul class="list-inline">
             <li><a href="">关于</a></li>
             <li><a>linux运维说明书</a></li>
             <li><a href="/contact">联系我们</a></li>
           </ul>
        </div>
      <div class="col-md-4"></div>
    </div>

  </div> <!--close container-->

</body>
</html>
