{% extends "main.html" %}

{% block content_list %}
<ul class="list-unstyled">
	<li>django总结</li>
	<p>--------------------------------------</p>
	<div class="list-group">
		{% for t in TOPIC_DICT['python']['django'] %}
		<li><a href="{{ t[1] }}">{{ t[0] }}</a></li>
		{% endfor %}
	</div>
</ul>
{% endblock %}

{% block md %}
<h3><p class="text-center">django总结</p></h3>
<p>这里整理的是以前学习linux时代的时候记录的笔记，后来经过了两次的重新编辑和删减，尽量减去初学者时代因为初学而写下的错误的和啰嗦的话。如果在阅读过程中发现哪里看的逻辑不顺畅或者错误，欢迎联系我qq664376212指正。</p>

<p>持续整理中</p>
{% endblock %}
